.album-list{
    display:flex;
    flex-flow: row wrap;
   
    list-style: none;
    padding: 0;
    margin: 0 -20px;
    justify-content: space-around;

    // & parent selector
    & > li {
        padding: 0 20px;
    }
}