.container-wrap {
  padding-top: 32px;
  position: relative;
}

.avatar {
  margin: 0 auto;
  background-color: red !important;
}
.title {
  margin: 16 0 24 0;
  text-align: center;
}
.btn-submit {
  margin: 24 0 16 0;
}

.linear-progress {
  position: absolute;
  top: 16px;
}
