.container-wrap {
  padding: auto 10px;
  position: relative;
}

.avatar {
  margin: 0 auto;
  background-color: red !important;
}
.title {
  margin: 16px 0 24px 0 !important;
  text-align: center;
}
.btn-submit {
  margin: 24px 0 16px 0 !important;
}

.linear-progress {
  position: absolute;
  top: 16px;
}
