.header {
  flex-grow: 1;
  color: white;
  text-align: center;
}

.menuButton {
  margin-right: 16px;
}
.title {
  flex-grow: 1;
}
.close-btn {
  position: absolute !important;
  top: 8px;
  right: 16px;
  color: gray;
  z-index: 1;
}
